<div class="container">
    
    <h1>blog</h1>

    <section>




        {{!-- <h3>the last things i've learned: </h3>
        
        <dl>
            <dt class="blog-list-title">
                <h3>know 13.11.2017 </h3>
            </dt>
            
            <dd>
                <p>scope stuff LHS RHS</p>
                <p>v8 monomorphism</p>
                <p>function overloading --- >:)</p>
                <p>html meta</p>
                <p>html4 vs html5 --- there are tons of stuff tho</p>
            </dd>
            
            <dt class="blog-list-title">
                <h3>don't know 13.11.2017 </h3>
            </dt>
            
            <dd>
                <p>CSS4</p>
                <p>html semantics profoundly</p>
            </dd>

            <dt class="blog-list-title">
                <h3>know 08.11.2017 </h3>
            </dt>

            <dd>
                <p>svg animations, svg css manipulation</p>
                <p>srcset for responsive images</p>
                <p>Microsoft paid 2 bilion for C# to be developed and promoted :/</p>
                <p>Navigation Timing API(hot to check if page is reloaded)</p>
                <p>css transform origin!!!</p>
            </dd>

            <dt class="blog-list-title">
                <h3>don't know 08.11.2017 </h3>
            </dt>

            <dd>
                <p>css animations --- again</p>
                <p>how to refactor my code</p>
                <p>parallax effects</p>
            </dd>

            <dt class="blog-list-title">
                <h3>know 06.11.2017</h3>
            </dt>
            
            <dd>
                <p>postcss</p>
                <p>autoprefixer</p>
                <p>hamburger button</p>
                <p>jquery siblings(must browse more into traversing)</p>
                <p>mobile version font sizes and a scratch from the css pixel theory</p>
                <p>z-index</p>
            </dd>

            <dt class="blog-list-title">
                <h3>don't know 06.11.2017 </h3>
            </dt>

            <dd>
                <p>whole fukin mountain of shits to learn</p>
                <p>more specifically:</p>
                <p>dive into css animations, modular js(render() with new server request), gulp with destructuring asignment</p>
            </dd>

            <dt class="blog-list-title">
                <h3>know 05.11.2017</h3>
            </dt>

            <dd>
                <p>how to update the firmware of tp-link router, how to bind mac to ip and how to set bandwith control rules</p>
                <p>packets are not fixed size</p>
            </dd>

            <dt class="blog-list-title">
                <h3>don't know 05.11.2017 </h3>
            </dt>

            <dd>
                <p>the stateless and stateful systems ---> much more to learn</p>
            </dd>

        </dl> --}}





    </section>


    
    

</div>

