
<div class="container">

    <header class="home-header">

        <h1 class="home-title">
            <span class="home-title-offword1">Front-End </span> 

            <span class="home-title__word1">newbie</span> 
            
            <span class="home-title-offword2">who is</span> 

            <span class="home-title__word2">learning</span> 

            <span class="home-title-offword3">to swim in the ocean of </span>
            
            <span class="home-title__word3">web</span>

        </h1>

    </header>

    <section>
        <h1>Check my account on github:</h1>
    </section>

</div>









