<header class="main-header">

    <div class="main-header__container">

        <a class="main-header-logo" href="#/home">
        
            <img class="main-header-logo__img" src="./assets/logo3.svg" alt="the web site logo">
            <span class="main-header-logo__span">Home</span>
        
        </a>
        
        <nav class="main-nav">
        
            <ul class="main-nav__ul">
        
                <li>
                    <a class="main-nav__a" href="#/about">About</a>
                </li>
                <li>
                    <a class="main-nav__a" href="#/blog">Blog</a>
                </li>
                <li>
                    <a class="main-nav__a" href="#/contact">Contact</a>
                </li>
        
            </ul>
        
        </nav>

    </div>

</header>





<nav class="mobile-nav">

    <ul class="mobile-nav__ul">

        <li class="mobile-nav__li  mobile-nav__li--first">
            <img class="mobile-nav__img" src="./assets/bird4.svg" alt="brazilian bird">
        </li>

        <li class="mobile-nav__li">
            <a class="mobile-nav__a  mobile-nav__a1 mobile-nav__a--no-transition" href="#/home">Home</a>
        </li>
    
        <li class="mobile-nav__li">
            <a class="mobile-nav__a  mobile-nav__a2 mobile-nav__a--no-transition" href="#/about">About</a>
        </li>

        <li class="mobile-nav__li">
            <a class="mobile-nav__a  mobile-nav__a3 mobile-nav__a--no-transition" href="#/blog">Blog</a>
        </li>
    
        <li class="mobile-nav__li">
            <a class="mobile-nav__a  mobile-nav__a4 mobile-nav__a--no-transition" href="#/contact">Contact</a>
        </li>
    
    </ul>

</nav>







<header class="mobile-header">

    <a class="mobile-header__logo" href="#/home">
        <img class="mobile-header__img" src="./assets/logo3.svg" alt="the web site logo">
    </a>

    <button class="mobile-header__button">
        <div class="hamb-line  hamb-line1"></div>
        <div class="hamb-line  hamb-line2"></div>
        <div class="hamb-line  hamb-line3"></div>
    </button>

</header>





<div class="bucket">

</div>